
@{
    ViewBag.Title = "createPub";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .frmauthor {
        font-family: serif;
    }

    .btncreate {
        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        color: white;
    }

    table {
        text-align: center;
    }

    th {
        color: white;
        background-color: #17aa67;
    }
</style>
<script>
    function validateCreate() {
        var x = document.forms["myForm"]["TenNSX"].value;
        var y = document.forms["myForm"]["DiaChi"].value;

        if (x == "" || y == "") {
            alert("Vui lòng điền đầy đủ thông tin trước khi tạo !");
            return false;
        }
    }

</script>
<link href="~/Content/CreateAll.css" rel="stylesheet" />
<h4>QUẢN LÝ NHÀ SẢN XUẤT</h4>
<hr />
<form action="/Admin/AminCRUD/createPub" method="post" name="myForm">
    <form class="frmauthor">
        <div class="context">
            <div class="text_left_author">
                <p style="font-weight:bold;font-size:20px;margin-left:55px;">THÊM NHÀ SẢN XUẤT</p>
                <table class="table_Author">
                    <tr>
                        <td>

                            <input type="text" name="TenNSX" placeholder="Tên NSX">

                        </td>

                    </tr>
                    <tr>
                        <td><input type="text" name="DiaChi" placeholder="Địa chỉ" /></td>
                    </tr>

                </table>
                <br />




                <div>
                   

                    <input type="submit" class="btncreate" onclick="return validateCreate()" style="width:130px; background-color:#17aa67;margin-left: 89px;" value="Tạo NSX" />



                </div>
            </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="background-color:#7b7b7b;" >Tên NSX</thstyle="background-color:#7b7b7b;">
                        <th style="background-color:#7b7b7b;">Địa chỉ</i></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.sklist)
                    {
                        <tr>

                            <td >@item.TenNSX</td>
                            <td>@item.DiaChi</td>

                        </tr>
                    }

                </tbody>
            </table>
            <div class="text_right_author">

            </div>
        </div>
    </form>
</form>







